<div class="background">
  <div class="page">
    <h1>{{ data.name }}</h1>
    <p class="light-blue">{{ data.contact }}</p>
    <p class="info">
      {{ data.resume }}
    </p>
    <h3>{{ data.studies.title }}</h3>
    <app-points [points]="data.studies.data"></app-points>
    <h3>{{ data.experience.title }}</h3>
    <ng-container *ngFor="let experience of data.experience.data">
      <p class="light-blue">{{ experience.title }}</p>
      <p class="margin-bottom">{{ experience.text }}</p>
    </ng-container>
    <h3>{{ data.knowledge.title }}</h3>
    <app-points [points]="data.knowledge.data" [double]="true"></app-points>
  </div>
</div>
