<div class="background">
  <div class="main">
    <mat-card
      class="persona tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-100000"
      data-aos-delay="1000"
      data-aos-duration="1500"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <img class="foto" src="{{ fotoUser }}" />

      <div class="datosPersona white">
        <div class="nombre">
          {{ this.nombre }} {{ apellido1 }} {{ apellido2 }}
        </div>
        <div>
          {{ telefono }}
        </div>
        <div>
          {{ correo }}
        </div>
        <div>
          <a href="{{ github }}" class="white">{{ github }}</a>
        </div>
      </div>
    </mat-card>

    <mat-card
      class="estudios tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-100000"
      data-aos-delay="1100"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Estudios</h1>

      <mat-list>
        <mat-list-item *ngFor="let estudio of estudios" class="hvr-shadow">
          <p mat-line>{{ estudio.nombre }}</p>
          <p mat-line>{{ estudio.centro }}</p>
          <p mat-line>{{ estudio.lugar }}</p>
          <p mat-line>{{ estudio.anoInicio }} - {{ estudio.anoFin }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card
      class="experiencia tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-10000"
      data-aos-delay="1200"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Experiencia</h1>

      <mat-list>
        <mat-list-item
          *ngFor="let experiencia of experiencias"
          class="hvr-shadow"
        >
          <p mat-line>{{ experiencia.nombre }}</p>
          <p mat-line>{{ experiencia.empresa }}</p>
          <p mat-line>{{ experiencia.anoInicio }} - {{ experiencia.anoFin }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card
      class="certificados tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-100000"
      data-aos-delay="1300"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Certificados</h1>

      <mat-list>
        <mat-list-item
          *ngFor="let certificado of certificados"
          class="hvr-shadow"
        >
          <p mat-line>{{ certificado.nombre }}</p>
          <p mat-line>{{ certificado.empresa }}</p>
          <p mat-line>{{ certificado.fecha }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card
      class="habilidades tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-100000"
      data-aos-delay="1400"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Habilidades</h1>

      <mat-chip-list aria-label="Lista de habilidades">
        <mat-chip
          color="primary"
          selected
          *ngFor="let habilidad of habilidades"
          >{{ habilidad }}</mat-chip
        >
      </mat-chip-list>
    </mat-card>

    <mat-card
      class="idiomas tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-100000"
      data-aos-delay="1500"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Idiomas</h1>

      <mat-list>
        <mat-list-item *ngFor="let idioma of idiomas" class="hvr-shadow">
          <p mat-line>{{ idioma.nombre }} - {{ idioma.nivel }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card
      class="github tarjeta"
      [attr.data-aos]="this.animation"
      data-aos-offset="-10000"
      data-aos-delay="1600"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      <h1>Github</h1>

      <div class="cuerpoGithub">
        <div class="smallerBoxContainer" *ngFor="let repo of repos">
          <a href="{{ repo.html_url }}">
            <div class="smaller-box mat-elevation-z4">
              <p mat-line>
                <font color="3847A0" size="4px"
                  ><b>{{ repo.name }}</b></font
                >
              </p>
              <p mat-line class="smaller-box-language">
                <span
                  class="dot"
                  [ngStyle]="{ 'background-color': repo.color }"
                ></span>
                <font size="2px"
                  ><i class="white"> {{ repo.language }}</i></font
                >
              </p>
            </div>
          </a>
        </div>
      </div>
    </mat-card>
    <div class="footer">
      <p>{{ copyright }}</p>
    </div>
  </div>
</div>
